html,
body							{ position: relative; width: 100%; height: 100%; display: block; overflow: hidden; margin: 0; padding: 0; font-family: "Helvetica Neue", Helvetica, Arial; background-color: #fff; background-image: -webkit-linear-gradient(#ffffff,#fefefe); }
body.android 					{ -webkit-perspective: 1000; }
@font-face						{ font-family: 'FontAwesome'; src: url('font/fontawesome-webfont.eot?v=4.0.3'); src: url('font/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('font/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('font/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('font/fontawesome-webfont.svg#fontawesomeregular?v=4.0.3') format('svg'); font-weight: normal; font-style: normal; }
body > *,h2,input[readonly]		{ -webkit-touch-callout: none; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0,0,0,0); outline: 0; -webkit-user-select: none; }
input,select					{ -webkit-appearance: none; -webkit-tap-highlight-color: rgba(0,0,0,0); outline: 0; font-family: Arial, Helvetica; padding: 0; margin: 0; text-indent: 0; border: 0; border-radius: 0; background-color: #ffffff; color: #000000; -webkit-user-modify: read-write-plaintext-only; }
ul								{ padding: 0; margin: 0; text-indent: 0; }
p								{ margin: 0; padding: 0; -webkit-margin-before: 0; -webkit-margin-after: 0; -webkit-margin-start: 0; -webkit-margin-end: 0; }
/*GENERIC*/
.bold							{ font-weight: bold;  }
.italic							{ font-style: italic; }
.hidden							{ display: none !important; }
.show							{ display: inline; }
.white							{ color: #fff !important; }
.invisible						{ visibility: hidden; position: absolute; left: 0; top: 0; }
/*#////////////////#//
//# GLOBAL CONTENT #//
//#////////////////#*/
#appContent						{ position: absolute; top: 62px; left: 0; right: 0; bottom: 44px; display: block; background-color: #fff; overflow: auto; -webkit-overflow-scrolling: touch; -webkit-transform: translate3d(0, 0, 0); background-image: -webkit-linear-gradient(#fff,#fefefe); }
/*kitkat scrollbar*/
body.android ::-webkit-scrollbar{ display: none; }
/*#///////////////#//
//# GLOBAL HEADER #//
//#///////////////#*/
#appHeader						{ position: absolute; height: 62px; top: 0; left: 0; right: 0; color: #fff; z-index: 0; }
#appHeader.deficit				{ background-color: #309030; }
#appHeader.balanced				{ background-color: #316ADC; }
#appHeader.surplus				{ background-color: #C85834; }
/*status blocks*/
#timerBlocks					{ position: absolute; height: 62px; bottom: 0; left: 0; right: 0; }
/*calories remaining*/
#timerKcals						{ position: absolute; bottom: 17px; left: 19px; font-size: 32px; line-height: normal; width: 100px; white-space: nowrap; }
#timerKcals span				{ position: absolute; bottom: -9px; left:  0px; font-size: 9px;  line-height: normal; text-transform: uppercase; }
/*daily calories*/
#timerDaily						{ position: absolute; bottom: 5px; top: 5px; right: 5px; width: 93px; font-size: 24px; line-height: 42px; text-indent: 14px; font-weight: bold; background-color: rgba(255,255,255,.3); }
#timerDaily span				{ position: absolute; bottom: 7px; left: 0px; font-size: 8px; line-height: normal; font-weight: normal; text-transform: uppercase;  }
/*INLINE*/
#editableDiv					{ color: transparent; height: 62px; background-color: transparent !important; text-indent: 150px; position: absolute; top: 0px; right: 0px; display: block; width: 150px; font-size: 18px !important; line-height: 24px; border: 0; padding: 0; margin: 0; text-align: right; z-index: 51; overflow: hidden; }
input#editable					{ color: #000; position: absolute; top: 10px; right: 9px; display: block !important; width: 75px !important; height: 32px; font-size: 24px !important; line-height: 28px; border: 0; padding: 0 0px 0 10px; margin: 0; opacity: .9; text-align: left; z-index: 999 !important; font-family: Helvetica; -webkit-user-select: auto; border-radius: 0px; font-weight: bold; overflow: hidden; }
#editableBlock					{ position: absolute; right: 0; width: 120px; height: 15px; background-color: transparent; z-index: 9999;  }
/*#///////////////#//
//# GLOBAL FOOTER #//
//#///////////////#*/
ul#appFooter					{ position: absolute; bottom: 0; left: 0; right: 0; height: 44px; margin: 0; padding: 0; list-style: none; text-align: center; background-color: #000; background-image: -webkit-linear-gradient(#363636,#000); -webkit-backface-visibility: hidden; }
ul#appFooter li					{ float: left; width: 25%; height: 44px; line-height: 18px; color: #999; -webkit-backface-visibility: hidden; }
ul#appFooter li.selected		{ color: #fff; background-image: -webkit-linear-gradient(#050505,#151515); -webkit-backface-visibility: hidden; }
ul#appFooter li.selected:before	{ color: #cbcbcb; }
ul#appFooter.appDebug li.selected:before	{ color: #00ee00; }
ul#appFooter.appEdge li.selected:before		{ color: #cc3300; }
ul#appFooter li:before			{ display: block; font-family: 'FontAwesome'; font-size: 20px; padding: 7px 0 0 0; -webkit-backface-visibility: hidden; font-weight: normal; }
ul#appFooter li					{ display: block; text-transform: capitalize; font-size: 11px; font-weight: bold;  -webkit-backface-visibility: hidden; }
ul#appFooter li#tab1:before		{ content: "\f080"; }
ul#appFooter li#tab2:before		{ content: "\f0f5"; }
ul#appFooter li#tab3:before		{ content: "\f007"; }
ul#appFooter li#tab4:before		{ content: "\f013"; }
/*#################################
####    BUILD: APP SETTINGS    ####
#################################*/
#settingsWrapper				{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: #F7F7F9; background-image: -webkit-linear-gradient(#F7F7F8,#F7F7F9); color: #999; font-size: 13px; }
/*list*/
ul#settingsList					{ display: block; background-color: #fff; border-bottom: 1px solid #eee; }
ul#settingsList li				{ display: block; height: 46px; line-height: 49px; color: #777; }
ul#settingsList li div			{ margin-left: 20px; }
ul#settingsList li+li div		{ border-top: 1px solid #eee; }
ul#settingsList li.activeRow	{ background-color: #eee; color: #555; }
ul#settingsList li.nextChild div{ border-top: 1px solid #eee; }
ul#settingsList li.nextChild div{ margin-left: 0; padding-left: 20px; }
/*/////////////////////
// SETTINGS: WEBSITE //
/////////////////////*/
div#optionWebsite				{ position: absolute; bottom: 53px; right: 0; left: 0; text-align: center; color: #bbb; font-size: 11px; line-height: 60px; height: 44px; display: block; text-transform: uppercase; }
div#optionWebsite:active		{ color: #888; }
/*///////////////////
// SETTINGS: RESET //
///////////////////*/
div#optionReset 				{ position: absolute; bottom: 0; left: 0; right: 0; height: 46px; line-height: 49px; background-color: #fff; border-top: 1px solid #eee; margin-left: 0; padding-left: 20px;}
div#optionReset:active			{ background-color: #E86401; color: #fff; }
/*/////////////////////////
// SETTINGS: UNIT TOGGLE //
/////////////////////////*/
li#optionMeasure				{ position: relative; background-color: #fff !important; }
li#optionMeasure.activeRow		{ position: relative; background-color: #fff !important; }
.contentTitle					{ display: block; font-weight: normal; color: #555; line-height: normal; padding-top: 10px; }
.contentTitle span				{ display: block; font-weight: normal; opacity: .5; color: #555; line-height: normal; font-size: 10px; }
#tapSwitch						{ width: 137px; position: absolute; right: 15px; top: 0px; display: block; height: 29px; text-align: center; font-size: 12px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; }
#tapSwitch #leftOption,
#tapSwitch #rightOption			{ height: 29px; line-height: 29px; color: #aaa; background-color: #eee; border: 0; text-shadow: 0 1px 0 rgba(255,255,255,.2); display: inline-block; float: left; width: 48%; }
#tapSwitch #leftOption			{ position: absolute; top: 9px; right: 65px; border-radius: 4px 0 0 4px; }
#tapSwitch #rightOption			{ position: absolute; top: 9px; right: 0;    border-radius: 0 4px 4px 0; }
#tapSwitch #leftOption.toggle	{ color: #fff; background-color: #5ED872; }
#tapSwitch #rightOption.toggle	{ color: #fff; background-color: #5ED872; }
/*###############################
####    BUILD: APP STATUS    ####
###############################*/
#statusWrapper					{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: block; margin: 12px; background-color: #fff; }
/**/
#appStatusElapsed				{ position: absolute; top: 0; left: 0; right: 50%; height: 66px; margin-right: 6px; background-color: #eee; }
#appStatusElapsed div			{ padding-top: 19px; text-align: center; display: block; font-size: 14px; }
#appStatusElapsed span			{ display: block; text-align: center; font-size: 10px; text-transform: uppercase; opacity: .9; }
/**/
#appStatusWeight				{ position: absolute; top: 0; left: 50%; right: 0; height: 66px; margin-left: 6px; background-color: #eee; }
#appStatusWeight div			{ padding-top: 19px; text-align: center; display: block; font-size: 14px; }
#appStatusWeight span			{ display: block; text-align: center; font-size: 10px; text-transform: uppercase; opacity: .9; }
#appStatusWeight strong			{ font-weight: normal; }
/**/
#appStatusBalance				{ position: absolute; top: 75px; left: 0; right: 50%; height: 66px; margin-right: 6px; background-color: #eee; }
#appStatusBalance div			{ padding-top: 19px; text-align: center; display: block; font-size: 14px; }
#appStatusBalance span			{ display: block; text-align: center; font-size: 10px; text-transform: uppercase; opacity: .9; }
#appStatusBalance.over			{ background-color: #fffcaa; }
/**/
#appStatusIntake				{ position: absolute; top: 75px; left: 50%; right: 0; height: 66px; margin-left: 6px; background-color: #eee; white-space: nowrap; }
#appStatusIntake div			{ padding-top: 19px; display: block; font-size: 14px; position: relative;  background-color: #; }
#appStatusIntake span			{ display: block; font-size: 10px; text-transform: uppercase; opacity: .9; color: #000; border: 0px solid #000; }
#appStatusIntake div#entry_f-sum{ width: 20%; text-align: left; float: left; color: #0000cc; position: absolute; top: 0; left: 15%; } 
#appStatusIntake div#entry_e-sum{ width: 20%; text-align: left; float: right; color: #cc3300; position: absolute; top: 0; right: 24%; }
/**/
#appStatusAddLeft				{ position: absolute; bottom: 55px; left: 0; right: 50%; height: 44px; margin-right: 6px; background-color: #4285F4; color: #fff; }
#appStatusAddLeft div			{ padding-top: 11px; text-align: center; display: block; font-size: 18px; }
#appStatusAddLeft span			{ display: block; text-align: center; font-size: 10px; text-transform: uppercase; opacity: .9; }
/**/
#appStatusAddRight				{ position: absolute; bottom: 55px; left: 50%; right: 0; height: 44px; margin-left: 6px; background-color: #4285F4; color: #fff; }
#appStatusAddRight div			{ padding-top: 11px; text-align: center; display: block; font-size: 18px; }
#appStatusAddRight span			{ display: block; text-align: center; font-size: 10px; text-transform: uppercase; opacity: .9; }
#appStatusAddRight div:active,
#appStatusAddLeft div:active	{ padding-top: 11px; text-align: center; display: block; font-size: 18px; }
/*//////////////////
// START DATE BAR //
//////////////////*/
#appStatusFix					{ position: absolute; bottom: 0; left: 0; right: 0; height: 44px; overflow: hidden; text-align: center;  background-color: #fff; }
#appStatus						{ position: absolute; bottom: 0; left: 0; right: 0; height: 44px; /*overflow: hidden;*/ -webkit-transition-timing-function: linear; -webkit-transform: translate3d(0, 0, 0); -webkit-transition-duration: .165s; }
/*animate*/
#appStatusFix.open #appStatus	{ -webkit-transform: translate3d(0, 100%, 0); }
#appStatusFix.open #startDate	{ display: inline-block; }
/*start-reset color*/
.start #appStatusTitle			{ position: absolute; bottom: 0; left: 0; right: 0; height: 44px; overflow: hidden; background-color: #008800; text-align: center; line-height: 44px; font-weight: bold; color: #fff; }
.reset #appStatusTitle			{ position: absolute; bottom: 0; left: 0; right: 0; height: 44px; overflow: hidden; background-color: #cccccc; text-align: center; line-height: 44px; font-weight: bold; color: #999; }
.start #appStatusTitle:active 	{ background-color: #007700; }
.reset #appStatusTitle:active	{ background-color: #c1c1c1; }
/*startdate input*/
#startDateBar					{ width: 100%; position: relative; display: block; height: 44px; overflow: hidden; }
span#startDateSpan				{ position: relative; height: 44px; }
span#startDateSpan:before		{ position: absolute; top: -12px; left: 0; font-weight: bold; font-size: 11px; color: #aaa; text-transform: uppercase; display: block; white-space: nowrap; }
#startDate 						{ height: 44px; line-height: 61px; background-color: transparent; border: 0; padding: 0; text-indent: 0; margin: 0; font-size: 13pt; color: #555; -webkit-appearance: none; }
/*reload icon*/
#appStatusReload				{ opacity: .075; display: inline-block; position: absolute; bottom: 0; left: 0; width: 48px; height: 45px; display: inline-block; color: #000; font-size: 21pt; line-height: 49px; text-indent: 7px; background-color: transparent; -webkit-backface-visibility: hidden; }
#appStatusReload:before			{ content: "\f01e"; font-family: FontAwesome; display: inline-block; font-weight: bold; }
/*toggle icon*/
#appStatusToggle				{ display: inline-block; position: absolute; bottom: 0; right: 0; width: 48px; height: 45px; display: inline-block; color: #000; line-height: 49px; z-index: 10; }
#appStatusFix #appStatusArrow	{ -webkit-transition-timing-function: linear; -webkit-transition-duration: .4s; opacity: .075; position: absolute; top: 14px; right: 14px; height: 0; width: 0; border-top: 100px dashed transparent; border-right: 100px solid #955; width: 0; height: 0; border-left: 12px solid transparent; border-right: 12px solid transparent; border-top: 20px solid #000; -webkit-backface-visibility: hidden; }
#appStatusFix.open #appStatusArrow { top: -23px; -webkit-transform: rotate(-60deg); }
/*
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 20px solid #000;
	border-bottom: 0px solid transparent;
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 20px solid #000;
	border-top: 0px solid transparent;
*/
/*################################
####    BUILD: APP PROFILE    ####
################################*/
/*/////////////
// CALC FORM //
/////////////*/
#calcForm							{ display: block; font-size: 12px; padding-top: 3px; color: #555; overflow: hidden; }
#calcForm div.calcRow				{ margin-left: 22px; padding: 0; display: block; min-width: 300px; }
#calcForm div.calcRow + div.calcRow	{ border-top: 1px solid #eee; }
#calcForm input,
#calcForm select 					{ width: 80px; min-width: 80px; font-size: 12px; line-height: 18px; color: #666; -webkit-appearance: none; border: none; text-indent: 0; padding: 0; margin: 0; display: inline-block; }
#calcForm input						{ text-indent: 2px; height: 44px; vertical-align: bottom; }
#calcForm select					{ text-indent: 3px; height: 44px; }
#calcForm label						{ width: 113px; display: inline-block; font-weight: bold; padding: 0; margin: 0; }
/*feet-inches*/
#calcForm #feet						{ margin-right: 4px; }
#calcForm #feet,
#calcForm #inches					{ width: 38px !important; min-width: 38px; }
#calcForm #inches.metric			{ width: 80px !important; }
#calcForm #feet.metric				{ display: none !important; }
/*select arrow*/
#calcForm .selectArrow				{ position: relative; }
#calcForm .selectArrow:after		{ content: "\f078"; font-family: 'FontAwesome'; position: absolute; top: 2px; right: -10px; color: #666; vertical-align: middle; }
/*activity select*/
#calcForm #yourActivity				{ padding-top: 12px !important; }
#calcForm select#pA5B				{ min-width: 280px; max-width: 318px !important; width: 90%; margin-top: 3px; text-indent: 0; }
/*h2 a.b.c.*/
#calcForm h2						{ padding: 0; margin: 0 0 12px 0; font-size: 16px; line-height: 32px; text-indent: 22px; background-color: #41A9DE; color: #fff; display: block; text-align: left; white-space: nowrap; }
#calcForm h2 span					{ color: #ccc; padding-right: 1px; text-align: left; }
/*by/unit*/
#calcForm .calcResult				{ font-size: 13px; display: block; margin: 12px 12px 12px 18px; white-space: nowrap; }
#calcForm .calcResult select		{ font-size: 13px; margin-left: 12px; margin-right: 0px; font-weight: bold ; color: #000; text-indent: 1px; }
#calcForm .calcResult span			{ margin-left: 12px; }
#calcForm .calcResult span + span	{ margin-left: 21px; }
/*tap select*/
#calcForm .tapSelect  				{ display: block; position: relative; margin: 0px 12px 12px 12px; overflow: hidden; height: 54px; }
#calcForm .tapSelect span			{ display: block; position: absolute; top: 20px; left: 128px; color: #aaa; white-space: nowrap; }
#calcForm .tapSelect input			{ position: absolute; top: -9px; left: 0; display: block; width: 100%; padding: 15px 0px 14px 0px; text-indent: 30px; font-size: 18px; font-weight: bold; color: #41A9DE !important; background-color: rgba(100,100,100,.1); text-align: left; z-index: 100; }
#calcForm .tapSelect input.tapActive{ color: #cc0000 !important; }
/*by/unit width*/
#calcForm select#pA1B,
#calcForm select#pA4B				{ min-width: 66px; width: 66px; }
/*gender/age width*/
#calcForm #pA6G,
#calcForm #pA6M						{ min-width: 56px; width: 56px; }
/*focus*/
#calcForm input:focus,
#calcForm input:active,
#calcForm select:focus,
#calcForm select:active				{ color: #0072BC; }
/*##############################
####    BUILD: APP DIARY    ####
##############################*/
/*//////////////////
// ENTRYLIST FORM //
//////////////////*/
#entryListForm				{ display: block; width: 100%; height: 154px; position: relative; overflow: hidden; z-index: 1; }
/*ARROW BUTTONS*/
div#sliderNum				{ text-shadow: rgba(255,255,255,.35) 0 1px 0; position: absolute; left: 118px; top: 30px; display: block; width: 90px; white-space: nowrap; color: #999999; text-align: left;  padding: 0px 3px 6px 3px;  font-size: 9pt; }
div#sliderNeg				{ text-shadow: rgba(0,0,0,.05) 0 1px 0; position: absolute; left:  14px; top: 27px; display: block; width: 90px; white-space: nowrap; color: #D55621; text-align: left;  font-size: 14pt; line-height: 18pt; height: 30px; font-family: Futura, "Helvetica Neue", Helvetica, Arial; padding-left: 26px; }
div#sliderPos				{ text-shadow: rgba(0,0,0,.05) 0 1px 0; position: absolute; right: 14px; top: 27px; display: block; width: 80px; white-space: nowrap; color: #316ADC; text-align: right; font-size: 14pt; line-height: 18pt; height: 30px; font-family: Futura, "Helvetica Neue", Helvetica, Arial; padding-right: 26px; }
div#sliderNeg span			{ width: 0; height: 0; border-style: solid; border-width: 7px 14px 7px 0; border-color: transparent #D55621 transparent transparent; position: absolute; top: 7px; left: 3px; }
div#sliderPos span			{ width: 0; height: 0; border-style: solid; border-width: 7px 0 7px 14px; border-color: transparent transparent transparent #316ADC; position: absolute; top: 7px; right: 3px; }
div#sliderNeg:active		{ color: #CB5220; }
div#sliderPos:active		{ color: #2052CB; }
/*MAIN FORM*/
input#entryTitle			{ text-shadow: rgba(255,255,255,.36) 0 1px 0; width: 47px; font-size: 18px; font-weight: bold; color: #888; text-align: right; background-color: transparent; padding: 2px 1px 0 2px; border-radius: 0; text-indent: 0; margin: 0; border: none; }
input#entryBody				{ position: absolute; margin-top: 6px; left: 16px; right: 16px; background-color: transparent; color: #444;  font-weight: normal; border-radius: 0; padding: 7px 13px 5px 12px; text-indent: 0px; border: none; font-size: 17px; -webkit-user-select: auto; }
input#entryBody.focusMe		{ top: -5px; border: 1px solid transparent; border-color: transparent; -webkit-backface-visibility: hidden; border-width: 65px 0 0px 0; background-clip: padding-box; z-index: 998; }
input#entryBody.focusMy		{ top: 46px; border: 1px solid transparent; border-color: transparent; -webkit-backface-visibility: hidden; border-width: 14px 0 0px 0; background-clip: padding-box; z-index: 998; }
div#entryBodySearch			{ position: absolute; top: 67px; right: 15px; width: 30px; height: 28px; display: block; padding: 5px 0 0 20px; background-color: transparent; opacity: .5; z-index: 999; }
#entryBodySearch div		{ font-size: 32px; display: inline-block; width: 0.4em; height: 0.4em; border: 0.1em solid #D7D7D7; position: relative; border-radius: 0.35em; }
#entryBodySearch div:before	{ content: ""; display: inline-block; position: absolute; left: -0.25em; bottom: -0.16em; border-width: 0; background: #D7D7D7; width: 0.35em; height: 0.11em; -webkit-transform: rotate(-45deg); }
div#entryBodySearch:active	{ opacity: 1; }
select#entryTime			{ position: absolute; right: 17px; top: 109px; width: 100px; color: #777; font-size: 12px; line-height: 16px; opacity: .7; border-radius: 0; padding: 6px 4px 6px 4px; text-indent: 3px; border: 1px solid #bbb; -webkit-appearance: none; -webkit-user-select: auto !important; }
#entrySubmit				{ text-shadow: rgba(0,0,0,.06) 0 1px 0; position: absolute; left: 15px; top: 110px; font-size: 11pt; border: 0px solid #bababa; border-radius: 0px; opacity: 1; padding: 6px 28px 6px 28px; font-weight: bold; background-color: #eee; color: #999; }
div.submitActive			{ color: #fff !important; border-color: #aaa !important; background-color: #2C61D2 !important; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.09) !important; opacity: 1; }
.android .submitActive		{ -webkit-box-shadow: none !important; }  
.android #entrySubmit		{ text-shadow: none !important; }
#sliderBlock				{ width: 100%; display: block; z-index: 9999; position: absolute; top: 0; left: 0; height: 190px; background-color: transparent; opacity: 0; }
/*//////////////
// ENTRY LIST //
//////////////*/
#entryList > *				{ -webkit-transform: translate3d(0, 0, 0); }
#entryList					{ width: 100%; font-size: 13px; /*-webkit-transform: translate3d(0, 0, 0);*/ }
#entryList div				{ width: auto; padding: 12px 0 0 0; margin: 0; position: relative; border-bottom: 1px solid #eee; height: 28px; border-top: 0px solid #fff; /*overflow: hidden;*/ }
#entryList					{ width: 100%; min-height: 38px; }
#entryListWrapper			{ width: 100%; position: relative; min-height: 180px; padding: 0; background-color: #fff; overflow: hidden; }
#editableInput				{ -webkit-user-select: auto; background-color: transparent !important; padding: 0; margin: 0; border: 0px solid #ccc; display: block; width: 100%; color: #000; /*font-size: 13px; */ font-family: "Helvetica Neue", Helvetica, Arial; }
body.ios #editableInput,
body.android #editableInput {  margin-left : -1px; }
body.ios7 #editableInput 	{  margin-left : 0; }
/*SWIPE DELETE*/
span.delete					{ display: inline; -webkit-backface-visibility: hidden; position: absolute; right: 0; top: 0; z-index: 3; margin: 3px 6px 0 0; padding: 7px 14px 7px 14px; border: 1px solid #953403; border-radius: 5px; font-weight: bold; color: #fff; background: #ec4a0b; text-shadow: 0 -1px 1px #953403; background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ec4a0b),color-stop(1, #ad390c)); }
span.delete:active			{ background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #E0380A),color-stop(1, #9C2A09)); }
span.delete					{ /*visibility: hidden;*/ -webkit-transition-timing-function: linear; -webkit-transform: translate3d(90px, 0, 0); -webkit-transition-duration: .115s; -webkit-backface-visibility: hidden; }
span.delete.open			{ /*visibility: visible;*/ display: inline-block; -webkit-transition-timing-function: linear; -webkit-transform: translate3d(0, 0, 0); -webkit-transition-duration: .150s; -webkit-backface-visibility: hidden; }
/*ROW STYLE*/
.entriesTitle				{ display: inline; float: left; width: 40px;  text-align: right; font-weight: bold; }
.entriesKcals				{ display: inline; float: left; width: 36px;  text-align: left; color: #999; text-indent: 3px; }
.entriesBody				{ display: block; text-align: left; color: #666; font-size: 10pt; text-indent: 0px; overflow: hidden; white-space: nowrap; padding-left: 2px; margin-right: 9px; height: 16px; font-family: "Helvetica Neue", Helvetica, Arial; }
.entriesBody input			{ display: block; font-size: 10pt; }
/*body.android .entriesBody input { text-indent: -1px; }*/
.entriesPublished			{ padding-top: 28px; -webkit-backface-visibility: hidden; display: inline; text-align: right; position: absolute; bottom: -1px; right: 8px; font-size: 9px; color: #4787DE; line-height: normal; text-shadow: none !important; }
.editing .entriesPublished	{ opacity: 0; }
/*GENERIC*/
div#noEntries				{ border-left: 5px solid transparent; }
#noEntries span				{ font-style: italic; color: #999; padding-left: 24px; font-size: 12px; }
.heading					{ -webkit-user-select: none; z-index: 0; width: 100%; border-bottom: 1px solid #eee; border-top: 1px solid #eee; text-shadow: rgba(0,0,0,0) 0 1px 0; font-size: 10pt; color: #444; text-indent: 6px; padding: 10px 0 8px 9px; background-color: #f5f5f5; font-weight: bold; margin: 0; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; text-align: left; text-transform: uppercase; letter-spacing: 3px; }
/*
#diaryNotes					{ position: absolute; right: 0; top: 0; height: 36px; width: 46px; text-align: center;  line-height: 38px; display: inline-block; float: right; font-size: 22px; background-color: ; color: #ddd; }
#diaryNotes:before			{ content: "\f02d"; font-family: FontAwesome; display: inline-block; font-weight: normal; }
#diaryNotesWrapper			{ position: absolute; top: 62px; left: 0; right: 0; bottom: 44px; margin: 0;  z-index: 1; background-color: rgba(0,0,0,.2); }
#diaryNotesInput 			{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: 12px; background-color: #fff; border: 0; padding: 9px; outline: 0;  }
#diaryNotesButton			{  }
*/
/*EXPIRED*/
div.expired p				{ opacity: .3; }
div.editing p				{ opacity: 1; }
/*ROW BORDER*/
.rowMorning,
.e-rowMorning,
.rowAfternoon,
.e-rowAfternoon,
.rowNight,
.e-rowNight,
.rowAfterhours,
.e-rowAfterhours			{ border-left: 2px solid transparent; }
/*
#entryList div				{ border-bottom: 0; border-top: 0; }
#entryList					{ -webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,.1); }
div#noEntries				{ border-left: 5px solid #ccc; }
.rowMorning,
.e-rowMorning				{ color: #000; border-left: 5px solid #FFEC3C; }
.rowAfternoon,
.e-rowAfternoon				{ color: #000; border-left: 5px solid #F29D50; }
.rowNight,
.e-rowNight					{ color: #000; border-left: 5px solid #4486E5; }
.rowAfterhours,
.e-rowAfterhours			{ color: #000; border-left: 5px solid #4141D1; }
*/
/*TITLE COLOR*/
.rowAfterhours p.entriesTitle,
.rowMorning p.entriesTitle,
.rowAfternoon p.entriesTitle,
.rowNight p.entriesTitle	{ color: #333; }
.e-rowAfterhours p.entriesTitle,
.e-rowMorning p.entriesTitle,
.e-rowAfternoon p.entriesTitle,
.e-rowNight p.entriesTitle	{ color: #C00; }
/*////////////////
// IN-LINE EDIT //
////////////////*/
#kcalsAdjust				{ color: rgba(0,0,0,.1); }
#adjustPos:before			{ content: "\f04b"; font-family: FontAwesome; font-size: 18pt; line-height: 42px; margin-left: -10px; }
#adjustNeg:before 			{ content: "\f04b"; font-family: FontAwesome; font-size: 18pt; line-height: 42px; margin-left: -10px; -webkit-transform: scaleX(-1); }
#adjustNegBlock:active,
#adjustPosBlock:active		{ color: rgba(0,0,0,.2); background-color: rgba(0,0,0,.1); border-radius: 2px; }
body.android #adjustNegBlock:active,
body.android #adjustPosBlock:active	{ color: rgba(0,0,0,.1); background-color: transparent; border-radius: none; }
#adjustPosBlock				{ position: absolute; right:  2px; top: 0; width: 60px; height: 38px; line-height: 40px; text-align: center; z-index: 9999; display: block; }
#adjustNegBlock				{ position: absolute; right: 60px; top: 0; width: 60px; height: 38px; line-height: 40px; text-align: center; z-index: 9099; -webkit-transform: scaleX(-1); display: block; }
/*////////////////
// CARPE SLIDER //
////////////////*/
#slider						{ position: absolute; left: 14px; right: 30px; }
#sliderWrapper				{ -webkit-backface-visibility: hidden; }
.carpe-slider-box 			{ position: absolute; top: 14px; left: 14px; right: 30px; height: 60px; }
.carpe-slider-box,
.carpe-slider-box *			{ position: relative; display: block; }
.carpe-slider-panel			{ top: -30px; height: 60px; }
.carpe-slider-panel:focus,
.carpe-slider-panel:active	{ outline: none; }
/*track*/
.carpe-slider-track			{ z-index: 0; top: 21px; margin: 0 0 0 2px; padding: 0; height: 1px; border: none; background-color: #444; opacity: .5; }
.carpe-slider-knob			{ z-index: 1; top: 0; left: 1px; width: 16px; height: 16px; border: 1px solid #ccc; border-radius: 12px; background: #fff; margin-left: 0px; }
.carpe-slider-knob:hover	{ border: 1px solid #009900; }
/*#############################
####    PAGE SLIDE FOOD    ####
#############################*/
div#pageSlideFood		{ position: absolute; padding-top: 60px; top: 62px; left: 0; width: 100%; height: 100%; color: #000; overflow: hidden; z-index: 2; background-color: #fff;  background-image: -webkit-linear-gradient(#fff,#fefefe); }
div#pageSlideFood		{ -webkit-transition-timing-function: ease; -webkit-transform: translate3d(0, 100%, 0); -webkit-transition-duration: .3s; }
div#pageSlideFood.open	{ -webkit-transition-timing-function: ease; -webkit-transform: translate3d(0,    0, 0); -webkit-transition-duration: .3s; }
/*food search*/
input#foodSearch		{ position: absolute; left: 0px; right: 0; top: 0; font-size: 18px; border: 0; border-bottom: 1px solid #e5e5e5; display: block; padding: 22px 26px 16px 30px; z-index: 999; -webkit-user-select: auto; margin: 0; overflow: hidden; font-family: Arial, Helvetica, sans-serif; background-color: #fff; }
input#foodSearch::-webkit-input-placeholder { color: rgba(0,0,0,.35); }
#foodList				{ width: 100%; margin: 0; z-index: 3; white-space: nowrap; padding: 0; overflow: auto; -webkit-overflow-scrolling: touch; -webkit-transform: translate3d(0, 0, 0); background-color: #fff;   background-image: -webkit-linear-gradient(#fff,#fefefe); }
#foodListWrapper		{ width: 100%; display: block; float: left; overflow: hidden; z-index: 2;  background-color: #fff;  }
#foodList .searcheable	{ position: relative; margin: 0; padding: 12px 8px 5px 23px; height: 42px; margin-bottom: 0px; overflow: hidden; -webkit-backface-visibility: visible; }
#foodList .searcheable.activeOverflow		{ background-color: #e2e2e2; }
#foodList .searcheable ::-webkit-scrollbar	{ display: none; }
/*food sub itens*/
span#noMatches			{ color: #999; position: absolute; top: 15px; left: 33px; overflow: hidden; }
span#iconClear			{ padding: 22px 18px 9px 18px; font-size: 28px; line-height: 22px; font-weight: bold; position: absolute; top: -1px; right:18px; display:none; color:#000; -webkit-backface-visibility: hidden; z-index: 99999; opacity: .99; font-family: Arial, Helvetica, sans-serif; }
span#iconRefresh:before { content: "\f021"; color: rgba(0,0,0,.2); font-family: FontAwesome; font-weight: normal; font-family: FontAwesome; display: inline-block; }
span#iconRefresh		{ font-weight: normal; font-family: FontAwesome; display: inline-block; padding: 21px 18px 9px 18px; font-size: 28px; line-height: 21px; position: absolute; top: 0px; right: 15px; text-shadow: rgba(255,255,255,0) 0 1px 0; -webkit-backface-visibility: hidden; z-index: 99999; opacity: .99; }
div.foodName			{ color: #0033cc; /*position: absolute; top: 12px; left: 23px; right: 8px;  padding-right: 1px; */ overflow: hidden; font-weight: bold; z-index: 999; -webkit-transform: translate3d(0, 0, 0);}
div#activeOverflow		{ /*color: #fff;*/ overflow: auto; padding-right: 0px; border-right: 0px solid transparent; -webkit-backface-visibility: visible; display: block; float: none; text-align: left; text-indent: 0px; }
.fade					{ -webkit-transition-timing-function: linear; -webkit-transition-duration: 1s; }
.yellow					{ background-color: rgba(255,200,0,.88); }
.trans					{ background-color: rgba(255,255,255,0); }
/**/
span.foodKcal			{ float: left; width: 65px; padding-top: 0px; font-size: 12px; color: #000; font-weight: bold; padding-left: 3px; padding-right: 6px; }
span.foodPro			{ float: left; width: 65px; padding-top: 0px; font-size: 12px; color: #000; font-weight: bold; }
span.foodFat			{ float: left; width: 65px; padding-top: 0px; font-size: 12px; color: #000; font-weight: bold; }
span.foodCar			{ float: left; width: 65px; padding-top: 0px; font-size: 12px; color: #000; font-weight: bold; }
span.preSpan			{ padding-right: 5px; color: #0033cc; }
/**/
#pageSlideFood.exerciseType span.preSpan { color: #cc3300; }
#pageSlideFood.exerciseType div.foodName { color: #cc3300; }
#pageSlideFood.exerciseType span.foodKcal,
#pageSlideFood.exerciseType span.foodPro,
#pageSlideFood.exerciseType span.foodFat,
#pageSlideFood.exerciseType span.foodCar { color: #000; }
/*header close arrow*/
#appHeader:before				{ top: 4px; opacity: 0; color: #fff; -webkit-transition-timing-function: linear; -webkit-transition-duration: .2s; content: "\f107"; font-family: FontAwesome; text-align: center; display: block; width: 100%; position: absolute; left: 0; font-size: 56px; margin-left: 0px; z-index: 1; font-weight: bold; }
body.ios7 #appHeader:before 	{ top: 18px; }
#appHeader.open:before			{ opacity: .1; color: #fff; -webkit-transition-timing-function: linear; -webkit-transition-duration: .2s; }
/*RECENT LIST*/
#recentBlock					{ display: block; padding-left: 30px; -webkit-transform: translate3d(0, 0, 0); }
#recentBlock h3					{ color: #000; text-transform: uppercase; font-size: 12px; padding-top: 24px; padding-bottom: 12px; }
#recentBlock h3	span			{ color: #ccc; font-weight: normal; text-transform: none; padding-left: 6px; }
#recentBlock div				{ text-indent: 0px; margin-left: 10px; }
#recentBlock em					{ opacity: .5; font-weight: normal; margin-left: -10px; }
#recentBlock .searcheable,
#recentBlock .foodName			{ height: 40px !important; margin-bottom: 0; padding-top: 1px; padding-bottom: 0; background-color: transparent !important; }
#recentBlock .foodName.food		{ color: #0033cc !important; }
#recentBlock .foodName.exercise	{ color: #cc3300 !important; }
#recentBlock .searcheable.recentItem:before	{ content: "•"; position: absolute; top: 0px; left: 6px; font-size: 18pt; color: #000; }
/*/////////////
// MODAL BOX //
/////////////*/
#modalOverlay			{ opacity: 0; position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: block; z-index: 98; background-color: #000; background-image: -webkit-linear-gradient(#000,#111); }
#modalWindow			{ opacity: 0; position: absolute; top: 74px; left: 0; right: 0; height: 200px; background-color: #ffffff; -webkit-box-shadow: 2px 0px 6px rgba(0,0,0,.5); z-index: 99; }
body.ios7 #modalWindow	{ top: 94px; }
#modalOverlay,
#modalWindow			{ -webkit-transition-timing-function: linear; -webkit-transition-duration: .25s; }
#modalOverlay.show		{ opacity: .5; }
#modalWindow.show		{ opacity: 1; }
#modalContent			{ padding: 12px; font-size: 13px; font-weight: bold; max-height: 38px; overflow: hidden; color: #777; }
#modalContent span		{ color: #3287F5; white-space: nowrap; }
#modalButtons			{ position: absolute; bottom: 0; left: 0; right: 0; height: 44px; line-height: 46px; text-align: center; }
#modalOk				{ position: absolute; bottom: 0; left: 0; right: 50%; height: 44px; background-color: #4D9AE5; color: #fff; font-weight: bold; text-shadow: rgba(0,0,0,.24) 0 1px 0; background-image: -webkit-linear-gradient(#4D9AE5,#4A93DA); }
#modalCancel			{ position: absolute; bottom: 0; left: 50%; right: 0; height: 44px; background-color: #f5f5f5; text-shadow: rgba(0,0,0,.04) 0 1px 0; background-image: -webkit-linear-gradient(#f9f9f9,#f1f1f1); }
#modalAdjust			{ position: absolute; top: 65px; left: 0; background-color: #fff; width: 100%; height: 92px; z-index: 99999; }
#modalPosBlock			{ position: absolute; top: 5px; right: 9px; display: block; width: 25%; height: 40px; background-color: #F9F9F9; background-image: -webkit-linear-gradient(#F9F9F9,#F1F1F1); border-radius: 0px 6px 6px 0; border: 1px solid transparent; border-width: 1px 0 1px 0; color: #bbb; }
#modalNegBlock			{ position: absolute; top: 5px; left:  9px;  display: block; width: 25%; height: 40px; background-color: #F9F9F9; background-image: -webkit-linear-gradient(#F9F9F9,#F1F1F1); border-radius: 6px 0 0 6px; border: 1px solid transparent; border-width: 1px 0 1px 0; color: #bbb; }
#modalNeg				{ font-size: 24px; display: block; position: absolute; top: 8px; right: 37%; }
#modalPos				{ font-size: 24px; display: block; position: absolute; top: 8px; left: 37%; }
#modalNeg.icon-chevron-sign-left,
#modalPos.icon-chevron-sign-right			{ font-family: 'FontAwesome'; vertical-align: baseline; line-height: normal; font-weight: normal; }
#modalNeg.icon-chevron-sign-left:before		{ content: "\f137"; font-family: 'FontAwesome' }
#modalPos.icon-chevron-sign-right:before	{ content: "\f138"; font-family: 'FontAwesome' }
#modalAmmountBlock		{ position: absolute; top: 5px; left: 25%; display: block; width: 50%; height: 40px; border: 1px solid #eee; border-width: 1px 0 1px 0; }
#modalAmmount			{ display: block; width: 100%; text-align: center; font-size: 12pt; line-height: 10pt; font-weight: bold; padding-top: 7px; }
#modalAmmountType		{ display: block; width: 100%; text-align: center; font-size: 10pt; font-variant: small-caps; }
#modalTotalBlock		{ position: absolute; top: 48px; left: 0; display: block; width: 100%; text-align: center; font-variant: small-caps; height: 36px; padding-top: 8px; font-size: 16pt; background-color: #fff; }
#modalTotal				{ float: left; width: 50%; display: block; text-align: right; background-color: #fff; }
#modalTotalType			{ text-align: left; float: right; text-indent: 1px; font-size: 16pt; width: 50%; display: block; }
span#proLabel,
span#carLabel,
span#fatLabel,
span#fibLabel,
span#proData,
span#carData,
span#fatData,
span#fibData			{ font-size: 11px; position: absolute; top: 0; right: 10px; text-align: left; font-size: 11px; }
span#proData span,
span#carData span,
span#fatData span,
span#fibData span		{ font-weight: normal; color: #222; }
span#proData			{ top: -3px; font-variant: normal; }
span#carData			{ top:  8px; font-variant: normal; }
span#fatData			{ top: 19px; font-variant: normal; }
span#fibData			{ top: 30px; font-variant: normal; }
span#proLabel			{ top: -3px; text-align: right; right: 47px; /*right: 247px;*/ }
span#carLabel			{ top:  8px; text-align: right; right: 47px; }
span#fatLabel			{ top: 19px; text-align: right; right: 47px; }
span#fibLabel			{ top: 30px; text-align: right; right: 47px; }
/*///////////
// SPINNER //
///////////*/
div#spinnerWrapper		{ display: none; position: absolute; display: block; height: 100px; width: 100px; z-index: 9999; }
span#spinnerMsg			{ display: none; color: #000; text-align: center; width: 100%; display: block; position: absolute; bottom: 25%; left: 0; font-size: 11pt; z-index: 999; }
div#spinner				{ position: relative; width: 45px; height: 45px; display: inline-block; }
/*
div#spinner div			{ width: 9%; height: 28%; background: #000; position: absolute; left: 44.5%; top: 37%; opacity: 0; -webkit-animation: fade 1s linear infinite; -webkit-border-radius: 12px; }
div#spinner div.bar1	{ -webkit-transform:rotate(0deg)   translate(0, -142%); -webkit-animation-delay: -0;        }
div#spinner div.bar2	{ -webkit-transform:rotate(30deg)  translate(0, -142%); -webkit-animation-delay: -0.9167s;  }
div#spinner div.bar3	{ -webkit-transform:rotate(60deg)  translate(0, -142%); -webkit-animation-delay: -0.833s;   }
div#spinner div.bar4	{ -webkit-transform:rotate(90deg)  translate(0, -142%); -webkit-animation-delay: -0.75s;    }
div#spinner div.bar5	{ -webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;   }
div#spinner div.bar6	{ -webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;  }
div#spinner div.bar7	{ -webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;     }
div#spinner div.bar8	{ -webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s; }
div#spinner div.bar9	{ -webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;   }
div#spinner div.bar10	{ -webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;    }
div#spinner div.bar11	{ -webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;  }
div#spinner div.bar12	{ -webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;  }
@-webkit-keyframes fade	{ from { opacity: 1; } to { opacity: 0; } }*/
/*#//////////////#//
//# MENU TOP BAR #//
//#//////////////#*/
#infoContents				{ background-color: #fff; display: block; -webkit-font-smoothing: antialiased;
/*position: absolute; top: 60px; left: 0; right: 0; bottom: 0;*/
margin-top: 60px;
}

#menuTopBar				{ position: absolute; top: 18px; left: 0; right: 0px; height: 34px; display: block; white-space: nowrap; z-index: 999; -webkit-backface-visibility: hidden; }
#topBarItem-1,
#topBarItem-2,
#topBarItem-3			{ margin: 0; color: #000; background-color: #fff; display: inline-block; height: 36px; line-height: 36px; font-size: 12px; text-align: center; 

 -webkit-backface-visibility: hidden; -webkit-font-smoothing: subpixel-antialiased; margin: 0; text-shadow: rgba(255,255,255,.3) 0 1px 0; 


}

#topBarItem-1				{ 
width: 33.2%; /*
border: 0px solid rgba(0,0,0,.66); border-width: 2px 2px 2px 2px; border-radius: 9px 0px 0px 9px; padding: 0;*/ }
#topBarItem-2				{ 
width: 33.2%;
/*
border: 0px solid rgba(0,0,0,.66);  border-width: 2px 0px 2px 0px; border-radius: 0px 0px 0px 0px; padding: 0 1px 0 1px;*/ }
#topBarItem-3				{ 
width: 33.6%;/*
border: 0px solid rgba(0,0,0,.66); border-width: 2px 2px 2px 2px; border-radius: 0px 9px 9px 0px; padding: 0; */ }



#menuTopBar h3.onFocus	{ background-color:#eee; /*color: rgba(255,255,255,1);*/ border-color: transparent; -webkit-backface-visibility: hidden; }
#tabRecent,
#tabMyFoods,
#tabMyExercises				{ display: none; }
#tabRecent.onFocus,
#tabMyFoods.onFocus,
#tabMyExercises.onFocus		{ display: inline; }


#topBarItem-1 span,
#topBarItem-2 span,
#topBarItem-3 span			{ position: relative; font-weight: bold; display: inline-block; font-size: 12px; padding-left: 15px; }

#topBarItem-1 span:before,
#topBarItem-2 span:before,
#topBarItem-3 span:before	{ position: absolute; top: 10px; left: -4px; margin-right:; display: inline-block; font-size: 15px; line-height: normal; font-weight: normal !important; -webkit-font-smoothing: antialiased; }

#topBarItem-1 span:before	{ font-family: 'FontAwesome'; content: "\f0ca"; }
#topBarItem-2 span:before	{ font-family: 'FontAwesome'; content: "\f000"; }
#topBarItem-3 span:before	{ font-family: 'FontAwesome'; content: "\f17d"; }


#tabMyFoods ul				{ margin: 0; padding: 0; display: block; text-indent: 0; list-style: none; border: 0px solid #999; background-color: transparent; -webkit-backface-visibility: hidden; }
#tabMyFoods li				{ margin: 0; border-bottom: 1px solid transparent; padding: 0 0 0 12px; line-height: 20px; display: block; background-color: transparent; -webkit-backface-visibility: hidden; }
#tabMyFoods h3				{ margin: 0 0 0 0; padding: 22px 0 3px 0; font-size: 18px; display: block; text-transform: capitalize; color: #fff; border-bottom: 1px solid #fff; font-weight: bold; -webkit-backface-visibility: hidden; }
#sideMenuInfo #tabMyFoods p	{ margin: 0; padding: 8px 0 0px 0; font-weight: bold; color: #fff; text-indent: 3px; font-size: 14px; }
#tabMyFoods p span			{ font-weight: normal; opacity: .85; padding-right: 15px; color: #ffcc33; float: right; font-size: 14px; line-height: 16px; display: inline-block; vertical-align: middle; }
#tabMyFoods p:before		{ font-family: 'FontAwesome'; content: "\f054"; padding-right: 9px; padding-left: 8px; font-weight: bold; color: #fff; }
#tabMyExercises ul			{ margin: 0; padding: 0; display: block; text-indent: 0; list-style: none; border: 0px solid #999; background-color: transparent; -webkit-backface-visibility: hidden; }
#tabMyExercises li			{ border-bottom: 1px solid transparent; padding: 8px 12px 12px 12px; margin: 0; font-size: 14px; display: block; background-color: transparent; background-clip: padding-box; position: relative; min-height: 60px; -webkit-backface-visibility: hidden; }
#tabMyExercises li+li		{ border-top: 1px solid #777; -webkit-backface-visibility: hidden; }



/*////////////////
// ADD NEW FOOD //
////////////////*/
#addNewFood,
#addNewExercise				{ position: absolute; bottom: 12px; left: 12px; right: 12px; background-color: #000; height: 44px; line-height: 44px; color: #fff; 
display: block; text-align: center; font-weight: bold; font-size: 14px; 
opacity: .5;

}

#addNewWrapper				{ position: absolute; top: 75px; bottom: 66px; left: 12px; right: 12px; background-color: #fff; display: block; z-index: 99; overflow: hidden;

display: block; -webkit-transform: translate3d(0, 0, 0); background-image: -webkit-linear-gradient(#fff,#fefefe);


}
body.ios7 #addNewWrapper	{ top: 91px; }

#addNewConfirm				{ position: absolute; bottom: 0px; left: 0;  width: 50%; background-color: #4D9AE5; height: 44px; line-height: 44px; color: #fff; display: block; z-index: 99; text-align: center; font-weight: bold; }
#addNewCancel				{ position: absolute; bottom: 0px; right: 0; width: 50%; background-color: #eeeeee; height: 44px; line-height: 44px; display: block; z-index: 99; text-align: center; font-weight: bold; }



ul#addNewList		{ padding: 9px 22px 22px 22px; }

ul#addNewList li	{ display: block; height: 44px; line-height: 44px; position: relative; }
ul#addNewList li+li	{ border-top: 1px solid #eee; }
ul#addNewList label	{ color: #333; display: inline-block; float: left;  text-align: left; }


ul#addNewList input{ position: absolute; top: 16px; right: 0px; left: 120px; 
	background-color: #eee;

	text-align: right;
}

ul#addNewList input::-webkit-input-placeholder {
   color: #999;
   text-align: right;
 
}
ul#addNewList .placeholder{  }
	
	
li#addNewName		{  }
li#addNewAmmount	{  }
li#addNewKcal		{  }
li#addNewPro		{  }
li#addNewCar		{  }
li#addNewFat		{  }

/*
"><label>Name</label><input type="text" id="InputNewName" /></li>\



"><label>Ammount</label><input type="text" id="InputNewAmmount" /></li>\
				><label>kcal</label<input type="text" id="InputNewKcal" />></li>\
					><label>pro</label><input type="text" id="InputNewPro" /></li>\
					<label>car</label><input type="text" id="InputNewCar" /></li>\
					<label>fat</label><input type="text" id="InputNewFat" /></li>\
				</ul>\
*/












/*#////////////////////#//
//# IOS STYLE CHECKBOX #//
//#////////////////////#*/
/*
.MobileCheckboxContainer								{ position: relative; overflow: hidden; background: #fff; border-width: 1px; border-style: solid; border-color: #666 #666 #999 #333; -webkit-user-select: none; -webkit-background-clip: padding-box; -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); } 
.MobileCheckboxContainer + .MobileCheckboxContainer		{ margin-top: 5px; }
.MobileCheckboxContainer.disabled						{ opacity: 0.5; }
.MobileCheckboxContainer div.CheckboxLabel 				{ position: absolute; display: block; width: 0; top: 0; height: 100%; margin: 0; padding: 0; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; font-weight: bold; font-size: 17px; line-height: normal; font-size: 18px; line-height: 150%; white-space: nowrap; overflow: hidden; }
.MobileCheckboxContainer div.CheckboxLabel.Checked		{ left:0; color: rgba(255,255,255,1); text-shadow: rgba(0,0,0,.1) 0 1px 0; }
.MobileCheckboxContainer div.CheckboxLabel.Unchecked	{ width: 100%; color: rgba(0,0,0,0.2); text-shadow: rgba(0,0,0,.05) 0 1px 0; -webkit-backface-visibility: hidden; }
.MobileCheckboxContainer .CheckboxHandle 				{ position: absolute; display: block; top: 0; left: 0; background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#eeeeee)); background: -webkit-linear-gradient(top,  #cccccc 0%,#eeeeee 100%); background: linear-gradient(to bottom,  #cccccc 0%,#eeeeee 100%); border: 2px solid #f4f4f4; -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-backface-visibility: hidden; }
.MobileCheckboxContainer *,
.ios7style *											{ -webkit-backface-visibility: hidden; }
.MobileCheckboxContainer input.ios7						{ visibility: hidden; width: 0; height: 0; opacity: 0; position: absolute; top: 0; left: 0; }
.ios7style .CheckboxGlow								{ display: none; }
.ios7style .MobileCheckboxContainer						{ border: 1px solid rgba(255,255,255,1); }
.ios7style .MobileCheckboxContainer .CheckboxHandle		{ background: #fff; background: rgba(255,255,255,1); -webkit-box-shadow: none; }
.ios7style .ios7:checked								{ display: block !important; }
.ios7style .ios7:checked ~ .CheckboxHandle				{ border: 2px solid #53D769; }
*/
/*#///////////#//
//#// IOS 7 //#//
//#///////////#*/
/*ios6 calc form resize bug*/
body.ios #appHeader					{ position: absolute; }
body.ios7 #editableDiv,
body.ios7 #appHeader				{ height: 77px; }
body.ios7 #appContent				{ top: 77px; }
body.ios7 span#subKcalsDay			{ top: 21px; }
body.ios7 input#editable			{ top: 24px; }
body.ios7 span#timerFood 			{ margin-top: 14px; }
body.ios7 span#timerExercise 		{ margin-bottom: -4px; }
body.ios7 span#timerFood:after		{ bottom: 2px; }
body.ios7 span#timerExercise:after	{ bottom: 2px; }

