## ENCODING
Options -Indexes
SetEnv TZ America/Sao_Paulo
AddDefaultCharset UTF-8

## MIME
AddType font/ttf .ttf
AddType application/font-woff .woff
AddType application/x-web-app-manifest+json .webapp
AddType text/cache-manifest .manifest
AddType text/cache-manifest .appcache
AddType text/plain .db

Header unset ETag
## CROSS-ORIGIN
Header add Access-Control-Allow-Origin "*"

## COMPRESS
AddOutputFilterByType DEFLATE text/html text/javascript text/css text/plain font/ttf
