AddDefaultCharset UTF-8
AddType application/vnd.ms-fontobject .eot
AddType application/font-woff .woff
AddType font/ttf .ttf
AddType font/otf .otf
AddType application/x-web-app-manifest+json .webapp
AddType text/cache-manifest .manifest
AddType text/cache-manifest .appcache
AddType application/octet-stream .bin
AddType application/octet-stream .img
AddType text/plain .db
#############
## HEADERS ##
#############
Header set Cache-Control "max-age=0"
Header unset ETag
FileETag None
Header add Access-Control-Allow-Origin "*"
#############
## EXPIRES ##
#############
ExpiresActive On
ExpiresDefault "access"
#################
## COMPRESSION ##
#################
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript