<?xml version="1.0" encoding="utf-8"?>
<widget id="com.cancian.kcals" version="2.1.5" versionCode="210500" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:rim="http://www.blackberry.com/ns/widgets">

	<content src="index.html" />
	<!-- ### -->
	<access origin="*" />
	<access origin="*" subdomains="true" launch-external="yes" />
  	<!-- ### -->
	<access subdomains="true" uri="file:///store/home" />
	<access subdomains="true" uri="file:///SDCard" />
	<access subdomains="true" uri="*" />
  	<!-- ### -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
    <allow-intent href="market:*" />
    <allow-intent href="appworld:*" />
	<allow-intent href="*" />
	<!-- ### -->
	<allow-navigation href="http://*/*" />
	<allow-navigation href="https://*/*" />
	<allow-navigation href="data:*" />
	<allow-navigation href="*" />
	<!-- ### -->
		
	<!-- ## APP DATA ## -->
	<name>ChronoBurn</name>
	<description>Real-Time Calorie Counter</description>
	<author href="https://chronoburn.com" email="cancian@chronoburn.com">Andre Cancian</author>
	<icon src="icon.png" />
	<!-- ## APP DATA ## -->
	
	<!-- Preferences for Android -->
	<preference name="permissions" value="none" />
	<preference name="phonegap-version" value="4.1.1" />
	<preference name="orientation" value="default" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="false" />
	<preference name="prerendered-icon" value="true" />
	<preference name="ios-statusbarstyle" value="black-opaque" />
	<preference name="detect-data-types" value="true" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="auto-hide-splash-screen" value="true" />
	<preference name="disable-cursor" value="false" />
	<preference name="android-minSdkVersion" value="7" />
	<preference name="android-installLocation" value="auto" />
	<preference name="backgroundColor" value="0xFFF" />
	<preference name="webviewbounce" value="false" />
	<preference name="stay-in-webview" value="false" />
	<preference name="show-splash-screen-spinner" value="false" />
	<preference name="splash-screen-duration" value="0" />
	<preference name="KeepRunning" value="true" />
	<preference name="AndroidLaunchMode" value="singleTop" />
	<preference name="AndroidPersistentFileLocation" value="Compatibility" />
	<preference name="loadUrlTimeoutValue" value="700000" />
	<!-- Preferences for Android -->
	
	<!-- Preferences for iOS -->
	<!-- <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" /> -->
	<preference name="SuppressesLongPressGesture" value="true" />
    <preference name="Suppresses3DTouchGesture" value="false" />
	<preference name="AllowInlineMediaPlayback" value="false" />
	<preference name="AutoHideSplashScreen" value="true" />
	<preference name="BackupWebStorage" value="local" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="EnableViewportScale" value="true" />
	<preference name="FadeSplashScreen" value="false" />
	<preference name="FadeSplashScreenDuration" value="0" />
	<preference name="HideKeyboardFormAccessoryBar" value="false" />
	<preference name="KeyboardDisplayRequiresUserAction" value="true" />
	<preference name="KeyboardShrinksView" value="false" />
	<preference name="MediaPlaybackRequiresUserAction" value="false" />
	<preference name="ShowSplashScreenSpinner" value="false" />
	<preference name="SuppressesIncrementalRendering" value="true" />
	<preference name="TopActivityIndicator" value="gray" />
	<preference name="SplashScreenDelay" value="0" />
    <preference name="GapBetweenPages" value="0" />
    <preference name="PageLength" value="0" />
    <preference name="PaginationBreakingMode" value="page" />
    <preference name="PaginationMode" value="unpaginated" />
	<preference name="InAppBrowserStorageEnabled" value="true" />
	<preference name="EnableWebGL" value="true"/>
	<!-- Preferences for iOS -->

	<!-- Preferences for BB10 -->
	<preference name="DiskCache" value="enable" />
	<preference name="Orientation" value="default" />
	<preference name="WebSecurity" value="disable" />
	<preference name="ChildBrowser" value="enable" />
	<preference name="PopupBlocker" value="disable" />
	<preference name="AutoHideSplashScreen" value="true" />
	<preference name="HideKeyboardFormAccessoryBar" value="false" />
	<!-- Preferences for BB10 -->

	<!-- Preferences for PLAYBOOK 
	<icon rim:hover="false" src="icon.png" />
	<icon rim:hover="true" src="icon.png" />

	<rim:loadingScreen 
		backgroundColor="#ffffff" 
		foregroundImage="225.png" 
		onFirstLaunch="true">
		<rim:transitionEffect type="fadeOut" />
	</rim:loadingScreen>	
	Preferences for PLAYBOOK -->
	
	<!-- Plugins for PLAYBOOK -->
	<feature id="blackberry.app" />
	<feature id="blackberry.app.event" />
	<feature id="blackberry.identity" />
	<feature id="blackberry.invoke" required="true" />
	<feature id="blackberry.io.dir" />
	<feature id="blackberry.io.file" />
	<feature id="blackberry.system" />
	<feature id="blackberry.system.event" />
	<feature id="blackberry.ui.dialog" required="true" />
	<feature id="blackberry.utils" />
	<feature id="blackberry.invoke" required="true" />
	<feature id="blackberry.invoke.BrowserArguments" required="true" />
	<!-- Plugins for PLAYBOOK -->

	<!-- CORDOVA PLUGINS -->
	<feature name="Notification" value="Notification">
		<param name="ios-package" value="CDVNotification" />
		<param name="android-package" value="org.apache.cordova.dialogs.Notification" />
		<param name="wp-package" value="Notification" />
	</feature>

	<feature name="InAppBrowser">
		<param name="ios-package" value="CDVInAppBrowser" />
		<param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
		<param name="wp-package" value="InAppBrowser" />
	</feature>

    <platform name="android">
		<feature name="App">
			<param name="android-package" value="org.apache.cordova.App"/>
		</feature>

		<feature name="Whitelist">
			<param name="android-package" value="org.apache.cordova.whitelist.WhitelistPlugin" />
			<param name="onload" value="true" />
		</feature>
    </platform>

    <platform name="ios">
		<feature name="LocalStorage">
			<param name="ios-package" value="CDVLocalStorage" />
		</feature>

		<feature name="HandleOpenUrl">
			<param name="ios-package" value="CDVHandleOpenURL" />
			<param name="onload" value="true" />
		</feature>

		<feature name="IntentAndNavigationFilter">
			<param name="ios-package" value="CDVIntentAndNavigationFilter" />
			<param name="onload" value="true" />
		</feature>

		<feature name="GestureHandler">
			<param name="ios-package" value="CDVGestureHandler" />
			<param name="onload" value="true" />
		</feature>
    </platform>
	<!-- 
	<feature name="CDVWKWebViewEngine">
		<param name="ios-package" value="CDVWKWebViewEngine" />
	</feature>
	-->
	<!-- CORDOVA PLUGINS -->

</widget>