<?xml version='1.0' encoding='utf-8'?>
    <widget xmlns = "http://www.w3.org/ns/widgets" 
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.cancian.mylivediet"
        versionCode="13200" 
        version   = "1.3.2">

	<content src="index.html" />
	<access origin="*" />

    <name>KCals</name>

    <description>
        KCals displays your calorie usage in real-time.
    </description>

    <author email="support@kcals.net" href="http://kcals.net">
        André Cancian
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <!-- Customize your app and platform with the preference element. -->
    <preference name="permissions"                value="none"/>
    <preference name="phonegap-version"           value="3.3.0" />          <!-- all: current version of PhoneGap -->
    <preference name="orientation"                value="portrait" />       <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="false" />          <!-- all: hides the status bar at the top of the screen -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-minSdkVersion"      value="7" />              <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
	<preference name="BackgroundColor"            value="0xffffffff" />
	<preference name="webviewbounce"              value="false" />
    <preference name="stay-in-webview"            value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
	<preference name="splash-screen-duration"     value="0" />
	<!--<preference name="LoadingDialog"              value=""/>-->
	
    <!-- Preferences for iOS -->
    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="BackupWebStorage" value="cloud" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value=".25" />
    <preference name="HideKeyboardFormAccessoryBar" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="KeyboardShrinksView" value="false" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="ShowSplashScreenSpinner" value="true" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="TopActivityIndicator" value="gray" />
	<preference name="SplashScreenDelay" value="0" />

    <preference name="GapBetweenPages" value="0" />
    <preference name="PageLength" value="0" />
    <preference name="PaginationBreakingMode" value="page" />
    <preference name="PaginationMode" value="unpaginated" />

	<feature name="LocalStorage">
		<param name="ios-package" value="CDVLocalStorage" />
	</feature>
	
	<feature name="App">
		<param name="android-package" value="org.apache.cordova.App" />
	</feature>

    <feature name="Notification">
        <param name="ios-package" value="CDVNotification" />
        <param name="android-package" value="org.apache.cordova.dialogs.Notification" />
        <param name="wp-package" value="Notification" />
    </feature>
	
    <feature name="InAppBrowser">
        <param name="ios-package" value="CDVInAppBrowser" />
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
        <param name="wp-package" value="InAppBrowser" />
    </feature>
	
    <feature name="SplashScreen">
        <param name="wp-package" value="SplashScreen" />
        <param name="ios-package" value="CDVSplashScreen" />
        <param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
        <param name="onload" value="true" />
    </feature>
	
    <feature name="org.apache.cordova.facebook.Connect">
        <param name="ios-package" value="FacebookConnectPlugin" />
        <param name="android-package" value="org.apache.cordova.facebook.ConnectPlugin" />
    </feature>

    <feature name="InAppBillingPlugin">
        <param name="android-package" value="com.smartmobilesoftware.inappbilling.InAppBillingPlugin" />
    </feature>

    <feature name="InAppPurchaseManager">
        <param name="wp-package" value="InAppPurchaseManager" />
    </feature>

    <feature name="InAppPurchase">
        <param name="ios-package" value="InAppPurchase" />
    </feature>

</widget>