<?xml version="1.0" encoding="utf-8"?>
<widget id="com.cancian.kcals" version="1.9.9" versionCode="19903" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:rim="http://www.blackberry.com/ns/widgets">

	<content src="index.html" />

	<access subdomains="true" uri="*" origin="*" />

	<name>KCals Calorie Counter</name>

	<author email="cancian@kcals.net" href="http://kcals.net">Andre Cancian</author>
	
	<description>KCals is a real-time calorie counter that simulates the human metabolism.</description>

	<icon src="icon.png" />

	<!-- Preferences for Android -->
	<preference name="permissions" value="none" />
	<preference name="phonegap-version" value="3.6.0" />
	<preference name="orientation" value="portrait" />
	<preference name="target-device" value="universal" />
	<preference name="fullscreen" value="false" />
	<preference name="prerendered-icon" value="true" />
	<preference name="ios-statusbarstyle" value="black-opaque" />
	<preference name="detect-data-types" value="true" />
	<preference name="exit-on-suspend" value="false" />
	<preference name="auto-hide-splash-screen" value="true" />
	<preference name="disable-cursor" value="false" />
	<preference name="android-minSdkVersion" value="8" />
	<preference name="android-installLocation" value="auto" />
	<preference name="BackgroundColor" value="0xffffffff" />
	<preference name="webviewbounce" value="false" />
	<preference name="stay-in-webview" value="false" />
	<preference name="show-splash-screen-spinner" value="false" />
	<preference name="splash-screen-duration" value="0" />
	<preference name="KeepRunning" value="true" />
	<preference name="AndroidLaunchMode" value="singleTop" />
	<!-- Preferences for Android -->
	
	<!-- Preferences for iOS -->
	<preference name="AllowInlineMediaPlayback" value="false" />
	<preference name="AutoHideSplashScreen" value="true" />
	<preference name="BackupWebStorage" value="local" />
	<preference name="DisallowOverscroll" value="true" />
	<preference name="EnableViewportScale" value="false" />
	<preference name="FadeSplashScreen" value="false" />
	<preference name="FadeSplashScreenDuration" value="0" />
	<preference name="HideKeyboardFormAccessoryBar" value="false" />
	<preference name="KeyboardDisplayRequiresUserAction" value="true" />
	<preference name="KeyboardShrinksView" value="false" />
	<preference name="MediaPlaybackRequiresUserAction" value="false" />
	<preference name="ShowSplashScreenSpinner" value="false" />
	<preference name="SuppressesIncrementalRendering" value="true" />
	<preference name="TopActivityIndicator" value="gray" />
	<preference name="SplashScreenDelay" value="0" />
	<!-- Preferences for iOS -->

	<!-- Preferences for BB10 -->
	<preference name="DiskCache" value="enable" />
	<preference name="Orientation" value="default" />
	<preference name="WebSecurity" value="disable" />
	<preference name="ChildBrowser" value="enable" />
	<preference name="PopupBlocker" value="disable" />
	<preference name="AutoHideSplashScreen" value="true" />
	<preference name="HideKeyboardFormAccessoryBar" value="false" />
	<!-- Preferences for BB10 -->

	<!-- Preferences for PLAYBOOK 
	<icon rim:hover="false" src="icon.png" />
	<icon rim:hover="true" src="icon.png" />

	<rim:loadingScreen 
		backgroundColor="#ffffff" 
		foregroundImage="225.png" 
		onFirstLaunch="true">
		<rim:transitionEffect type="fadeOut" />
	</rim:loadingScreen>	
	Preferences for PLAYBOOK -->
	
	<!-- Plugins for PLAYBOOK -->
	<feature id="blackberry.app" />
	<feature id="blackberry.app.event" />
	<feature id="blackberry.identity" />
	<feature id="blackberry.invoke" required="true" />
	<feature id="blackberry.io.dir" />
	<feature id="blackberry.io.file" />
	<feature id="blackberry.system" />
	<feature id="blackberry.system.event" />
	<feature id="blackberry.ui.dialog" required="true" />
	<feature id="blackberry.utils" />
	<feature id="blackberry.invoke" required="true" />
	<feature id="blackberry.invoke.BrowserArguments" required="true" />
	<!-- Plugins for PLAYBOOK -->

	<!-- CORDOVA PLUGINS -->
	<feature name="http://api.phonegap.com/1.0/device" />
	
	<feature name="LocalStorage">
		<param name="ios-package" value="CDVLocalStorage" />
	</feature>

	<feature name="App">
		<param name="android-package" value="org.apache.cordova.App" />
	</feature>

	<feature name="Whitelist">
		<param name="android-package" value="org.apache.cordova.whitelist.WhitelistPlugin" />
		<param name="onload" value="true" />
	</feature>

	<feature name="Notification" value="Notification">
		<param name="ios-package" value="CDVNotification" />
		<param name="android-package" value="org.apache.cordova.dialogs.Notification" />
		<param name="wp-package" value="Notification" />
	</feature>

	<feature name="InAppBrowser">
		<param name="ios-package" value="CDVInAppBrowser" />
		<param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
		<param name="wp-package" value="InAppBrowser" />
	</feature>

	<feature name="org.apache.cordova.facebook.Connect">
		<param name="ios-package" value="FacebookConnectPlugin" />
		<param name="android-package" value="org.apache.cordova.facebook.ConnectPlugin" />
	</feature>

	<feature name="Device">
		<param name="wp-package" value="Device" />
	</feature>

	<feature name="LocalNotification">
		<param name="wp-package" value="LocalNotification" />
	</feature>
	<!-- CORDOVA PLUGINS -->
	
	<!-- INTENT WHITELIST -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
	<!-- INTENT WHITELIST -->
	
	<!-- PLATFORM SPECIFIC INTENT -->
	<platform name="android">
		<allow-intent href="market:*" />
	</platform>
	<platform name="ios">
		<allow-intent href="itms:*" />
		<allow-intent href="itms-apps:*" />
	</platform>
	<!-- PLATFORM SPECIFIC INTENT -->
		
	<!-- ORIGIN WHITELIST -->
    <access origin="https://m.facebook.com" />
    <access origin="https://graph.facebook.com" />
    <access origin="https://api.facebook.com" />
    <access origin="https://*.fbcdn.net" />
    <access origin="https://*.akamaihd.net" />
	<!-- ORIGIN WHITELIST -->
	
</widget>